/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'NanumSquareNeo-Variable', 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    font-size: 15px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 1440px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: 1440px;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px이하부터 320px까지 모든 사이즈 반응형일때
    1400px 일때에도 좌우에 여백은 유지해야 함(1400이상에서 1400이하로 - 반응형으로 전환되는 점)
    부드럽게 여백을 유지하면서 전환
    원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
    1400px - 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
    padding으로 좌우에 여백을 20px씩 줌 */
}

.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

.cnt_wrap {
    position: relative;
}
.skip_nav {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10000;
    width: 100%;
}
.skip_nav a {
    position: absolute;
    left: 0;
    top: -1000px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #0053A3;
    color: #fff;
    text-align: center;
}
.skip_nav a:focus {
    top: 0;
} 
