/* 모든 페이지에 공통 들어가는 스타일 (header/footer) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');

html, body {
    color: #3D3D3D;
    line-height: 1.5;
    font-family: 'Noto Sans KR', 'NanumGothic', 'Malgun Gothic', 'Apple SD Gothic', 'Apple SD Gothic Neo', 'Dotum', sans-serif;
    /* 폰트 적용 우선순위
       을유 웹폰트 우선적용, - 만약에 웹폰트가 지원되지 않으면 그 다음에 선언된 폰트가 적용됨
       apple sd gothic - 아이폰에서 지원하는 폰트 */
    font-size: 13px;
    font-weight: 400;
    /* letter-spacing: -0.05em; */
    word-break: keep-all; /* 단어별 줄바꿈 */
}
#wrap { /* id="wrap" */
    overflow: hidden;
    position: relative;
    min-width: 320px;
}
/* 콘텐츠의 넓이를 제한하고 홈페이지를 브라우저 가운데 배치 */
.wrapper {
    width: auto;
    padding: 0 20px;
    margin: 0 auto;
    /* 1400px이하부터 320px까지 모든 사이즈 반응형일때
    1400px 일때에도 좌우에 여백은 유지해야 함(1400이상에서 1400이하로 - 반응형으로 전환되는 점)
    부드럽게 여백을 유지하면서 전환
    원래 좌우에 여백이 20px씩 들어가 있는 걸로 스타일을 줌
    1400px - 콘텐츠 영역인데 왼쪽 20 + 오른쪽 20 = 1440px이 넓이
    padding으로 좌우에 여백을 20px씩 줌 */
}

.clearfix::after{display:block;clear:both;content:".";visibility:hidden;height:0;}
.clearfix{display:block;}

.cnt_wrap {
    position: relative;
}